BOT_TOKEN=8559502515:AAGZG5t5S1Z_Rrx3EQydFPPUvAvGOPaLnhA
ADMIN_TELEGRAM_ID=426115974
SUPPORT_USERNAME=@Senya_Razbor
SECRET_KEY=euR0r4zb0r_s3cr3t_k3y_2024_secure
SITE_URL=http://localhost:8000
ACCESS_PRICE=1990
DATABASE_URL=sqlite+aiosqlite:///./autoparts.db
AVITO_FEED_URL=https://st.carrobiz.com/export/1070/avitoru-yoularu-1070-15.xml
AVITO_UPDATE_HOUR=3
AVITO_UPDATE_MINUTE=0
ADMIN_LOGIN=admin
ADMIN_PASSWORD=admin123
